!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title StupidCodeFactoryBlog
    = csrf_meta_tags
    = stylesheet_link_tag 'application'
    = stylesheet_pack_tag 'application'
    = javascript_include_tag 'application'
    = javascript_pack_tag 'application'



  %body
    #top
      %nav#brand
        = link_to "Stupid Code Factory's Blog Admin", admin_root_path, class: 'upper'
      - if admin_author_signed_in?
        %nav
          %ul
            %li
              = link_to admin_articles_path do
                = icon('plus-square')
                article

            %li= link_to 'sign out', logout_path , method: :delete
    .row.auto
      .col.col-8
        %p.notice
          = notice
        %p.alert
          = alert
      .col
    .row
      .col.col-2
      .col.col-8
        - if admin_author_signed_in?
          = yield
        - else
          = link_to 'sign in', admin_author_github_omniauth_authorize_path, class: 'button'
