!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{name: "viewport", content: "width=device-width, initial-scale=1"}

    %title StupidCodeFactoryBlog
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = stylesheet_pack_tag 'frontend'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    .page-container
      = render 'layouts/navbar'

      %main.wrapper
        .row
          %section.col.col-8.push-center
            = yield
      = render 'layouts/footer'
    = javascript_pack_tag 'frontend'
